<style> 
body
{
  background-image: none;
  background-color: rgb(233, 232, 187);
}
</style>
<br><br><br>
<div>
    <h1>Como Contactarnos</h1>
    <br>
</div>

<div>
    <img src= "/img/img.comoContactarnos/JoaquinPiva.jpg" alt="...">
    <p>Email: JoaquinPiva@gmail.com</p>
</div>

<br><br><br>

<div>
    <img src= "/img/img.comoContactarnos/AgostinaBottarini.jpg" alt="...">
    <p>Email: AgostinaBottarini@gmail.com</p>
</div>
