<br><br><br>
<h1 class="creditos">CREDITOS</h1>
<p>Elaboración del sítio web<br>
Agostina Bottarini (Archivo Nacional de Argentina)<br>
Joaquin Piva (Archivo Nacional de Argentina)
Colaboración: Leonardo Kristal (Argentina)<br><br>

Actualización de datos<br>
2012-2013 – Vitor Manoel Marques da Fonseca (Brasil/Brazil). <br>
Contacto: mowlac@arquivonacional.gov.br <br>
2014/2017 – Carlos Augusto Silva Ditadi (Brasil/Brazil). <br>
Contacto: mowlac@arquivonacional.gov.br <br>                                                                                    
2018/2019 – Yolia Tortolero (México). Contacto: yoliatortolero@gmail.com</p>