<br><br><br>
<div class="d-flex justify-content-center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13135.077857802955!2d-58.43944198261718!3d-34.609990599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca680b697a73%3A0xb6fa8d39f7cf0dc9!2sEscuela%20ORT%20sede%20Almagro!5e0!3m2!1ses!2sar!4v1684854466292!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>