<form action='@Url.Action("Habitacion", "Home")'>
<br><br>
<div class="d-flex justify-content-center">
<iframe src="https://puzzel.org/es/crossword/play?p=-NWglIyJDXQbAyIlPPh_" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<input type="text" name="clave">
<input type="submit" value="Enviar">
</form>