@{
    ViewData["Title"] = "Sala de Escape";
}

<br><br><br>
<div class="position-relative">
  <div class="position-absolute top-0 start-50 translate-middle"></div>
  <h1 class=top >¡Bienvenidos a nuestra sala de escape!</h1>
</div>

<p>Pocos podrán decir que lograron escapar!</p>
