<div class="victoria">
<div class="container-fluid Victoria">
<form action='@Url.Action("Habitacion", "Home")'>
<br><br>
<div class="d-flex justify-content-center">
<h1 class="win">FELICITACIONES!</h1>
</div>



</form>
</div>

<h1 class="finalVictoria">Te costo un poquito pero lo conseguiste </h1>
</div>