html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body
{
  background-image: url("../img/fondos/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

.indexFondo
{
  background-color: rgb(114, 169, 252);
}

.titulo {
  animation-duration: 3s;
  animation-name: slidein;
  font-size:xx-large ;
  color: whitesmoke;
}

@keyframes slidein {
  from {
    margin-left: 70%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 30%;
  }
}

.txtHab4
{
  color: whitesmoke;
  text-align: center;
  font-size: xx-large;
}
.tutorial 
{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
    animation-direction: alternate;
}

.creditos
{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
    animation-direction: alternate;
}

.win
{
    animation-duration: 1.5s;
    animation-name: slidein2;
    animation-iteration-count:initial;
    animation-direction: alternate;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    text-align: center;
    vertical-align:middle;
}

.finalVictoria
{
  text-align: center;
  color: whitesmoke;
}


@keyframes slidein2 {
  from {
    margin-left: 70%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 70%;
  }
}

.botonJugar
{
  text-align: center;
}

.botonEnviar
{
  text-align: center;
  font-size: larger;

}
.pista
{
  background-color: white;
}

